* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: radial-gradient(circle farthest-corner at 17.1% 22.8%, rgba(226, 24, 24, 1) 0%, rgba(160, 6, 6, 1) 90%);
}


/* Header part */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    
}

/* header logo part */
.header .logo img {
    width: 100%;
    height: 175px;
}

hr {
    height: 1px;
    background-color: #000000;
    border: none;
}

/* navbar part */
nav ul li {
    list-style-type: none;
    padding: 20px 30px;


}

nav ul li:hover {
    scale: 120%
}

nav ul {
    display: flex;


}

nav ul a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(81, 75, 75);
}

nav ul a:hover {

    color: black;

}

/* social media right part of header*/

.social {
    padding: 20px;
    word-spacing: 10px;
    color: black;
    display: flex;
    color: white;

}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}


.icons span {
    font-weight: 800;

    font-size: 15px;

}

.icons span:hover {
    transform: translateX(-10px);
    color: black;
    

}

.social i:hover {
    color: white;
    scale: 120%;
    cursor: pointer;
    color: black;


}

/* sections */

section {
    display: flex;
}


/* Left contaiener  motto*/
.left_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    background-image: url(back6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: -8px;
    
    
}

.left_container h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 60px;
}

.left_container h1:hover {
    scale: 110%;
    text-shadow: 0 0  10px white;
    
}

.left_container p {
    color: white;
    font-size: 20px;
    margin-bottom: 90px;
}

.left_container p:hover {
    scale: 110%;
    color: rgb(255, 255, 255);
}

.left_container button {


    background-color: black;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    width: 150px;
}

.left_container button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: start;

}

.left_container button:hover {
    box-shadow: 0px 0px 10px white;
    scale: 120%;
    background-color: white;
    
}

.left_container button a:hover{
    
    color: black;
    

}





/* right container */
.right_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.right_container video {
    display: flex;
    width: 100%;
    height: 400px;
    object-fit: cover;
    height: 100%;

}




/* cards part */

.cards_container{
    padding: 30px 50px 30px 50px;
    
   
    
}

.cards_container h1{
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    
}


.cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.each_card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 300px;
    max-height: 500px;
    background-color: #28292e;
    border-radius: 20px 20px 20px 20px;
   
    
   
}

.each_card:hover{
    transform: scale(1.1); box-shadow: 0 0 10px white;
}

.each_card img{
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    
    
    
}

.burgername{
    text-align: center;
    width: 100%;
    padding: 10px;
    color: white;
}

.card_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card_content input{
    text-align: center;
    padding: 3px;

    border-radius: 10px;
        
}
.card_content button{
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card_content button:hover{
    cursor: pointer;
    box-shadow: 0 0 5px white;
}


.card_content button:active{
    background-image: radial-gradient(circle farthest-corner at 17.1% 22.8%, rgba(226, 24, 24, 1) 0%, rgba(160, 6, 6, 1) 90%);
    color: white;
}

.burgername:hover{
    scale: 120%;
    color: rgba(226, 24, 24, 1);
}
/* Footer part */
.footer{
    display: flex; 
    margin-top: 25px;   
}
.footer img{
    
    width: 200px;
    height: 200px;
}
.logoleft{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.footer_social i{
    color: white;
}

.footer_social i:hover{
    transform: scale(1.2); color: black; cursor: pointer;
}
.footer_social{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: -30px 0px 20px 40px;

}

.logoleft p{
    margin-left: 40px;
    font-size: 20px;
    color: white;

}

.logoleft p:hover{
    transform: scale(1.1); color: black;

}

.leftleft{
    width: 50%;
}

.leftright{
    width: 50%;
    display: flex;
    align-items: center;
    margin-right:50px;
}


.leftright img{
    width: 350px;
    height: 200px;
    
}

.leftright img:hover{
    transform: scale(1.2); cursor: pointer;
}
   
    
    


/* footer right */
.logoright{
    width: 100%;
    display: flex;
    align-items: start;
    margin-right: 10px;

}

.logoright th{
   line-height: 50px;
   text-align: start;
  
}

table thead tr th:hover{
    transform: scale(1.1); color: black;
   
 }

.logoright table th{
   align-items: start;
}

tbody tr th:hover{
    transform: scale(1.1); color: white;
 }




thead tr th {
    color: white;
    font-size: 20px;
}



tbody tr th {
    color: black;
    font-size: 18px;
    padding-top: 30px;
}

/* repsonsive design */

/* @media (max-width:768px) {
    section{
        flex-direction: column;
        position: relative;
        z-index: 5;
    }

} */


